
MUSIC_SERVICE_JWT_SECRET=

CONNECT_SERVICE_URL=
CONNECT_MUSIC_SERVICE_CALLBACK_URL=

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

SOUNDCLOUD_CLIENT_ID=
SOUNDCLOUD_CLIENT_SECRET=

JWT_SECRET=

SITE=
FRONTEND_URL=
BOT_LOGO_IMAGE=
DEFAULT_COVER_IMAGE=

COOKIE_SECRET=

QUEUE_HOST=
QUEUE_PORT=
QUEUE_DB=

CACHE_HOST=
CACHE_PORT=
CACHE_DB=

DONATE_URL=

TELEGRAM_BOT_TOKEN=
TELEGRAM_JWT_SECRET=
TELEGRAM_BOT_NAME=
TELEGRAM_BOT_SHORT_NAME=

TELEGRAM_BOT_WEBHOOK_DOMAIN=
TELEGRAM_BOT_WEBHOOK_PATH=

TELEGRAM_SECOND_BOT_TOKEN=
TELEGRAM_SECOND_BOT_WEBHOOK_DOMAIN=
TELEGRAM_SECOND_BOT_WEBHOOK_PATH=

GTM_ID=
AD_TAG1=
AD_TAG2=

DB_DIALECT=
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
APP_MODE=

DB_IMPORT_PATH=

PARSE_ALBUMS_DURATION=
PARSE_TRACKS_DURATION=
PARSE_ARTISTS_DURATION=

MP_API_SECRET=
MP_CLIENT_ID=

SHORT_UUID_CHARS=
COOKIE_AUTH_DOMAIN=
DOMAIN=

PREMIUM_USERS=

CORS_WHITELIST=